body {
	padding: 0;
	margin: 0;
}

a {
	color: #fff;
	text-decoration: none;
}

.container {
	width: 1100px;
	margin: 0 auto;
}

.header {
	width: 100%;
	background-color: #000;
	padding: 16px 0;
	z-index: 999;
	position: absolute;
	left: 0px;
	top: 0px;
}

.header_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	width: 70px;
}

.menu {
	color: #fff;
	margin: 0;
}

.menu_item {
	display: inline-block;
	margin-right: 40px;
}

.menu_item:last-child {
	margin-right: 0;
}

.top {
	background-color:rgba(0,0,0,.7);
	background-repeat: repeat;
}

.top_container {
	display: flex;
	justify-content: space-between;
	padding: 125px;
}

.description {
	width: 500px;
}

.description_logo {
	margin-bottom: 30px;
}

.description_title {
	color: #fff;
	font-size: 36px;
	line-height: 1.2;
	text-transform: uppercase;
	font-family: "Myriad Pro", sans-serif;
	margin: 20px 0;
}

.description_text:before {
    content: "";
    display: block;
    margin: 15px 0px;
    height: 2px;
    width: 80px;
    background-color: white;
	bottom: 0;
	text-align: center;
}

.description_text {
	font-size: 16px;
	font-family: "Myriad Pro", sans-serif;
	color: rgba(255, 255, 255, 0.8);
	line-height: 1.438;
	margin: 30px 0;
}

.description_button {
	font-size: 15px;
	font-family: "OpenSans", sans-serif;
	color: #ecebe9;
	line-height: 1.2;
	display: inline-block;
	border: 1px solid #ecebe9;
	padding: 10px 25px;
}

.top-form {
	background-color: white;
	width: 380px;
	height: 100%;
	border-radius: 2px;
	text-align: center;
	font-family: "OpenSans", sans-serif;
	font-weight: bold;
	font-size: 17px;
}

.top-form_title {
	display: block;
	background-color: #e8e8e8;
	padding: 15px 25px;
}

.form_em {
	color: #ff8b38;
 }

.top-form_input_main {
	align-items: center;
	margin: 40px 0;
}

.top-form_input {
    display: block;
    margin: 25px auto;
	justify-content: space-between;
	width: 275px;
	padding: 8px;
	border: 0.02px;
	border-bottom: 1px solid grey;
	font-family: Open;

}
.bottom_get {
	width: 100%;
	background-color: #ff8b38;
	color: white;
	padding: 15px 30px;
	border: none;
	font-size: 17px;
}

.social_container {
	background-color: white;
	display: flex;
	justify-content: space-between;
	padding: 20px 150px;
	color: grey;
}

.social-title {
	width: 100%;
	max-width: 400px;
	align-items: center;
	font-style: 25px bold;
	font-family: "Myriad Pro", sans-serif;
}

.social_title p {
	padding: 10px 0;
}


.networks {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.icon {
	width: 50px;
	display: inline-block;
	margin-right: 10px;
	color: #cccccc;
}

.icon:last-child {
	margin-right: 0;
}

.menu_item {
	display: inline-block;
}

.features {
	background-color: #f5f5f5;
}


.features_container {
	display: flex;
	padding: 100px 0;
	justify-content: space-between;
}

/* .features_tabs {
	width: 250px;
} */

.features {
	background-color: #f5f5f5;
}


.features_container {
	display: flex;
	padding: 100px 0;
	justify-content: space-between;
	align-items: center;
}

.features_tabs {
    position: relative;
}

.checkbox {
    display: none;
}

.checkbox:checked~.fake-checkbox {
    background-color: #ff8b38;
}

.checkbox:checked~.features_title {
    display: block;
}

.fake-checkbox {
    height: 100px;
    width: 100px;
	background-color: #333333;
    color: #fff;
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-bottom: 2px;
    border-radius: 3px;
}

.features_title {
    position: absolute;
    top: 50%;
    left: 100px;
    display: none;
	transform: translateY(-50%);
	padding-left: 100px;
}


.tab {
	/* width: 100px;
	height: 100px; */
	background-color: #ff8b38;
	text-align: center;
	margin: 3px auto;
	border-radius: 3px;
	/* color: white; */
}

/* .tab {
	display: flex;
    align-items: center;
    justify-content: center;
	width: 100px;
	height: 100px;
	background-color: #ff9b51;
	margin: 3px auto;
	border-radius: 3px;
	color: white;
} */

.features_title {
	color: #a6a7a9;
	width: 500px;
	font-family: 'Open Sans', sans-serif;
}

.features_title p {
	margin: 15px 0;
}

.features_button {
	margin-top: 50px;
	font-size: 15px;
	font-family: "OpenSans", sans-serif;
	color: #fff;
	line-height: 1.2;
	display: inline-block;
	border-radius: 3px;
	padding: 10px 25px;
	background-color: #ff8b38;
}

.city_pic {
	display: block;
	width: 300px;
}

.OurProcess {
	background-color: white;
	font-family: 'Open Sans', sans-serif;
    width: 100%;
    padding: 80px 0;
    text-align: center;
    color: #333333;
}

h3 {
	color: black;
	font-size: 24px;
	font-weight: bold;
}

.tit {
	color: black;
	font-size: 33px;
	font-family: 'Raleway', sans-serif;
	padding: 0 15px;
}



.subtit:before {
	content: "";
	display: block;
	margin: 10px auto;
	height: 2px;
	width: 80px;
	background-color: #ff9b51;
	bottom: 0;
}

.subtit {
	margin: 15px;
}

.column_title {
    font-size: large;
    font-weight: bold;
}

.column_text {    
    color: #b9babc;
	margin: 40px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.process_columns {
    padding-top: 50px;
    display: inline-block;
    vertical-align: top;
}

.column1 {
    display: inline-block;
    vertical-align: top;
    width: 33%;
}

.pricing {
	background-color: #e8e8e8;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	padding: 80px 0;
	text-align: center;
	color: #333333;
}


.pricing_text:before {
	content: "";
	display: block;
	margin: 10px auto;
	height: 2px;
	width: 80px;
	background-color: #ff8b38;
	bottom: 0;
}

.pricing_text {
	margin: 15px;
}

.pricing_slots {
	display: flex;
	height: 100%;
	align-items: center;
	color: #fff;
	padding-top: 60px;
	justify-content: space-between;
}

.pricing_slot {
	align-self: flex-end;
	width: 320px;
	margin: 4px;
	display: inline-block;
	margin-right: 40px;
}

.bl-wh {
	background-color: #333333;
	color: #ffffff;
}

.wh-gr {
	background-color: #ffffff;
	color: #86878b;
}

.slot {
	padding: 15px;
	text-align: center;
	margin: 1px 0;
}

.price_currency {
	font-size: 35px;
 }

.main_terms {
	font-size: 18px;
	font-weight: bold;
}

.price_terms {
	font-size: 60px;
	font-weight: bold;
}

.payment_terms {
	color: #86878b;
	font-style: italic;
	border-top-color: #ff8b38;
    margin: 0 auto;
}

.pricing_line {
	height: 5px;
	background: #ff8b38;
	margin-top: 0;
 }

.other_terms {
	text-transform: uppercase;
	font-size: 12px;
}

.popular_terms {
	background-color: #ff8b38;

}

.pricing_slot:last-child {
	margin-right: 0;
}


.testimonials_container {
	background-color: #ffffff;
	margin: 0 auto;
	text-align: center;
	padding: 80px 0;
}

.testimonials_description {
	color: #333333;
	padding: 15px 0;
}


.testimonials_description:before {
	content: "";
	display: block;
	margin: 10px auto;
	height: 2px;
	width: 80px;
	background-color: ff8b38;
	bottom: 0;
}

.comment_column {
	/* display: flex; */
	justify-content: space-between;
	width: 250px;
	margin-right: 5px;
	margin: 0 auto 20px;
}

.rectangle {
	position: relative;
	background-color: #f5f5f5;
	height: 150px;
	color: #b9babc;
	text-align: left;
	display: flex;
    align-items: center;
	justify-content: center;
	padding: 10px;

}

.rectangle:after, .rectangle:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
	
.rectangle:after {
	border-color: #ffffff;
	border-top-color: #f5f5f5;
	border-width: 18px;
	left: 50%;
	margin-left: -18px;
}

.rectangle:before {
	border-color:#ffffff;
	border-top-color: #ffffff;
	border-width: 19px;
	left: 50%;
	margin-left: -19px;
}

.comments {
	background-color: #ffffff;
	display: flex;
	padding: 30px;
	justify-content: space-between;
}


.comment_author {
	color: black;
	padding: 25px 10px;
}

.avatar {
	float: left;
}

.author {
	padding: 10px;
	font: 20px bold;
}

.author_prof {
	font-style: bold;
}

/* .CustomSection {
	height: 320px;
	background: none;

}

.CustomSection_container {
	display: flex;
	padding: 100px 0;
	justify-content: space-between;
	height: 300px;
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: 450px;
	padding: 80px 0;
	text-align: center;
	color: #333333;
}

.CustomSection_description {
	margin: 15px;
}

.CustomSection_description:before {
	content: "";
	display: block;
	margin: 0 auto;
	height: 2px;
	width: 80px;
	background-color: #ff9b51;
	bottom: 0;
	justify-content: space-between;
} */

.CustomSection {
	font-family: 'Open Sans', sans-serif;
    width: 100%;
    padding: 80px 0;
    text-align: center;
	color: #ecebe9;
	background-color:rgba(0,0,0,.9);
	background-repeat: repeat;

}

.CustomSection_container h3 {
	color: #ecebe9;
	font-size: 28px;
	font-weight: bold;
}

.CustomSection_description:before {
	content: "";
	display: block;
	margin: 15px auto;
	height: 2px;
	width: 80px;
	background-color: #ecebe9;
	bottom: 0;
}

.CustomSection_description {
	margin: 25px 0;
}

.contactus {
	background-color: white;
	font-family: 'Open Sans', sans-serif;
    width: 100%;
    padding: 80px 0;
    text-align: center;
    color: #333333;
}

/* .contactus_container h3 {
    color: #212121;
	font-size: 24px;
	font-weight: bold;
	padding: 0 15px;
} */

.contactus_text:before {
	content: "";
	display: block;
	margin: 15px auto;
	height: 2px;
	width: 80px;
	background-color: #ff8b38;
	bottom: 0;
}

.contactus_text {
	margin: 15px;
}

.main_contactus_form {
	padding: 25px 0;
	height: 200px;
}


.contactus_form_data {
	width: 50%;
	float: left;
	height: 153px;
	margin-bottom: 50px;
}
 
.contactus_form_data div {
	margin: 0 48px 29px 0;
}
 
.contactus_form_data div input {
	width: 100%;
}

.message-form {
	width: 50%;
	float: right;
}
 
.contactus_form_message {
	margin-left: 34px;
	margin-right: 14px;
	border: 0.02px;
    border-bottom: 1px solid grey;
}
 
.contactus_form_message textarea {
	height: 155px;
	resize: none;
	width: 100%;
	border: 0.02px;
	font-family: Open;
}

.contactus_button {
	align-items: center;
	justify-content: space-between;
	display: inline-block;
	justify-content: center;
	font-size: 18px;
	font-family: "OpenSans", sans-serif;
	color: #fff;
	line-height: 1.2;
	border-radius: 3px;
	padding: 15px 25px;
	background-color: #ff8b38;
}

footer {
	background-color: #000000;
}

.footer_container{
	margin: 0 auto;
	padding: 25px 0;
}
 
#footer-networks {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.copyright {
	color: #e8e8e8;
	font: 400 12px "Open Sans";
	text-align: center;
	margin-top: 15px;
}